<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>
<h2><%= @question %> <br /> - <em>You</em></h2>

<h2><%= @answer %> <br /> - <em>Your coach</em></h2>

<%= link_to 'ask a new question', ask_path  %>

