// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// $orange: #F78D46;
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h1 {
  text-align: center;
}

form {
  text-align: center;
}

input {
  border-radius: 4px;
}
